@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    <p>Hi friend, my name is Naomi Nindorera and you have arrived to my .NET's Lab5 </p>
</div>
