<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4883e8cd-6c43-408e-87e9-eacd3ab995cf/resourcegroups/ninaauDotNet/providers/Microsoft.Web/sites/nindonaoLab6NET</ResourceId>
    <ResourceGroup>ninaauDotNet</ResourceGroup>
    <ApiResourceId>/subscriptions/4883e8cd-6c43-408e-87e9-eacd3ab995cf/resourceGroups/ninaauDotNet/providers/Microsoft.ApiManagement/service/Lab6NETapi/apis/Lab6NET</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nindonaolab6net.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>12a4f06b-8dbd-4c57-9269-67af06710253</ProjectGuid>
    <MSDeployServiceURL>nindonaolab6net.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nindonaoLab6NET</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nindonaoLab6NET</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>